                                                    /*MAIN*/
body {
    margin: 0;
    box-sizing: border-box;
    @font-face {
        font-family: "Montserrat-400";
        src: url("./fonts/Montserrat-400.ttf") format("ttf");
    }
    font-family: Montserrat-400, serif;
    background: linear-gradient(to right, #49aeff, #2f5ffd);
    overflow: hidden;
}
.wrapper {
    max-width: 405px;
    padding: 28px 0 30px;
    margin: 0px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 a {
    text-decoration: none;
}
                                                /*INPUT PANEL*/

.input-panel {
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.input-panel img {
    top: 50%;
    position: absolute;
    transform: translate(17px, -50%);
    width: 20px;
    opacity: 50%;
}
.input-panel input {
    height: 100%;
    width: 300px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 0 0 52px;
    border: 1px solid #999;
}
.input-panel input:focus,
.input-panel input.active {
    padding-left: 52px;
    border: 2px solid #49aeff;
}
.input-panel input::placeholder {
    color: #bfbfbf;
}
                                                    /*LI*/

li {
    display: flex;
    align-items: center;
    justify-content: left;
}
li input {
    align-items: center;
}
li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: space-between;
}
li:last-child {
    margin-bottom: 0;
}
li:hover {
    background: #f5f5f5;
}
li img {
    width: 20px;
}
                                                     /*CONTROL*/

.control {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
                                                    /*FILTERS*/

.filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
}
.filters span:first-child {
    margin-left: 0;
}
.filters span.active {
    color: #3C87FF;
}
#clear-all-button {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    background: #1798FBFF;
}
                                                 /*TASK LIST*/

.task-list {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
    height: 300px;
    overflow-y: auto;
}
.task-list .completed {
    display: flex;
    align-items: flex-start;
    text-decoration: line-through;
    color: #777777;
    opacity: 70%;
}
.task-list::-webkit-scrollbar {
    width: 5px;
}
.task-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}
.task-list::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}
.task-list .task {
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.task-list .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.task-list .task label {
    display: flex;
    align-items: flex-start;
}
p {
    margin-left: 12px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}
.completed p {
    text-decoration: line-through;
}